@import "variables";
@import url("https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,600,300&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=archivo@700,800,200,300,500,100,400,600&display=swap");


body
{
  background-color: $secondarycolor !important;
  overflow-x: hidden;
}

html{
  scroll-behavior: smooth !important;
}


header{
  background-color: $black;
  padding: 1.5rem;
  padding-bottom: 1rem;
}



h1{
  font-family: $primary;
}

h5{
  font-family: $primary;
  color: $black;
}

.break{
  height: 10px !important;
  color: $black !important;
}



.conti {
  width: 100%;
  overflow-x: scroll; /* Change "none" to "scroll" */
  position: relative; /* Add this property for height calculation */
  overflow: hidden;
  height: 60vh;
}

.image_container {
  display: flex; /* Change "inline-block" to "flex" */
  position: relative; /* Add this property for height calculation */
}

.item {
  flex-shrink: 0; /* Add this property to prevent items from shrinking */
  width: 200px !important;
  margin-right: 20rem;

  img{
    height: 250px !important;
    width: 500px !important;
    margin-right: 10px !important;
  }

}



// Navbar

nav{
  a{
    text-decoration: none;
    font-family: $primary;
  }
}

.logo{
  font-weight: 600;
  color: $white;
}


nav{
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  height: 100vh;
  width: 50%;
  z-index: 5;
  text-transform: uppercase;
  transform: translateX(100%);
  transition: transform .5s ease-in-out;

  .close{
    float: right;
    margin: 2em;
    width: 2.2em;
  }

  ul{
    list-style-type: none !important;
    padding: 0;
    margin-top: 8em;

    a{
      text-decoration: none !important;
      color: $black !important;
      font-family: $primary;
      padding: .75em 2em !important;
      display: block;
      width: 100%;

      &:hover{
        background-color: rgb(224, 224, 224);
        
      }

    }
  }

} 

header{
  display: flex;
  justify-content: space-between;

  .menu{
    cursor: pointer;
    text-align: right;
    padding: 1em 1.5em;
  }
}

.intro{
  position: absolute;
  right: 10%;
  top:60%;
}

.m2{
margin-left: -2rem;
}

.intro2{
  position: absolute;
  left: 8%;
  top:30%;
}

.bgcolor{
  background-color: $secondarycolor;
}

.index{
  z-index: 4;
}

p{
  font-family: $primary !important;
  color: #555555;
}

.w-20{
  width:20em;
}
.w-28{
  width:36em;
}

.text-breaker{
  text-align: center;
  margin: 2rem;
  font-weight: 700;
  font-size: 3rem;
}


.spacing{
  margin-top: 2rem;
}

//HeroSection

body{


  big{
    font-size: 8rem !important;
  }

.hero{
  h1{
    font-size: 8rem !important;
    color: $black;
  }
}




.hero2{
  h1{
    font-size: 8rem;
    color: $black;
    text-align: right;
  }
}

.skills{
  .line {
    display: flex;
    justify-content: space-between;
  }
}

img{
  height: 40em;
  width: auto;
  object-fit: cover;
}

}


/*
 *  STYLE 2
 */

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
  border-radius: 10px;
}

body::-webkit-scrollbar
{
	width: 2px;
  height:10px;
	background-color: #F5F5F5;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 1px solid #555555;
  border-radius: 10px;
}

.conti::-webkit-scrollbar
{
display: none;
}

.yellow{
  background-color: $yellow !important;
  margin-top: 1rem;

}


@media (max-width: 568px) {
  
  html, body {
  overflow-x: hidden;
  cursor: visible;
}

.cursor-dot, .cursor-outline{
  height: 0;
  width: 0;
  visibility: hidden;
  display: none;
}
}

    /* Cursor */
      
    .cursor-dot {
      width: 0px;
      height: 0px;
      background-color: white;
      mix-blend-mode: difference;
      transition: transform 0.3s ease;
    }
    
    .cursor-outline {
      width: 30px;
      height: 30px;
      border: 1.5px solid hsla(0, 0%, 100%, 0.5);
      mix-blend-mode: difference;
    }

    .cursor-dot,
    .cursor-outline {
      position: fixed;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      pointer-events: none;
      z-index: 9999;
    }
    
    .btn-s1 {
      border: 1px solid #D5FD40 !important;
      padding: 10%;
    }
    
    h1:hover + .cursor-dot {
      transform: scale(5);
    }

    h3:hover + .cursor-dot {
      transform: scale(5);
    }

    a:hover + .cursor-dot {
      transform: scale(5);
    }
  

    
@media (max-width: 768px) {
    
  .cursor-dot {
      width: 10px;
      height: 10px;
    }
    
    .cursor-outline {
      width: 30px;
      height: 30px;
    }
    
}


.bw-text{

  padding-top: 2rem;
  background-color: $black;

  h5{
    font-family: $primary;
    color: $light-dark;
  }

  h1{
    color: $white !important;
    margin-bottom: 2rem;
  }

  p{
    color: $grey !important;
  }
}

body::-webkit-scrollbar{
  display: none !important;
  visibility: hidden !important;
}

.page1 {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;


  h1 {
    font-size: 5rem;
    line-height: 1;
    font-weight: 800;
    margin-bottom: 1rem;
    position: absolute;
    top: 10vw;
    left: 10vw;
    z-index: 4;
    overflow-wrap: break-word;
    hyphens: auto;
  
    @media (max-width: 768px) {
      font-size: 16vw;
    }
  
    span {
      display: block;
    }
  }
  p {
    position: absolute;
    bottom: 10vw;
    right: 10vw;
    width: 200px;
    line-height: 1.5;
  }  


}

.vid {
  width: 100%;
  height: 109%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
}


.logo{
  text-decoration: none;
  padding: .5em 1.5em;
}





@media only screen and (min-width: 920px){

  .menu{
    display: none !important ;
    visibility: hidden !important;
  }

  nav{
    transform: translateX(0);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;

    i.close{
      display: none;
    }

    ul{
      display: flex;
      margin: 0;


      a{
        color: white !important;
        padding: .5em 1.5em;
        
        font-size: .9rem;

        &:hover{
          background: none;
          text-decoration: underline;
        }

      }

    }

  }

}

.open-nav{
  transform: translateX(0);
}






.CTA-section{
  img{
  height: 20em;
  width: auto;
  object-fit: cover;
  }
}

.breaker{
  font-size: 16rem; margin-top: 12rem; color: rgb(196, 196, 196) !important;
}

@media only screen and (min-width: 920px){
  .breaker{
    font-size: 14rem; margin-top: 12rem; color: rgb(196, 196, 196) !important;
  }
  .logos{
    text-align: right; 
    color: rgb(179, 179, 179);
   }
   
}

.logos{
 text-align: left; 
 color: rgb(179, 179, 179);
}

@media only screen and (min-width: 768px){
 .txt-space{
  padding-left: 1rem !important;
 }


}

@media only screen and (min-width: 540px){
    .txt-space{
     padding-left: 1rem !important;
    }

   }
   



//grid

.images{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
margin: 2rem 4rem 3rem 4rem;

img{
    height: 250px !important;
  width: 500px !important;
  margin-bottom: 20px !important;
background-color:rgb(240, 240, 240);
padding:0.8rem;
}



}



.slider-right {
  overflow: hidden;
  white-space: nowrap;
}

.slider-right-items {
  display: inline-block;
  animation: marquee-animation 10s linear infinite;
}

.slider-right-items img {
  display: inline-block;
  width: 500px;
  height: auto;
  margin-right: 10px;
}

@keyframes marquee-animation {
  100% { transform: translateX(0); }
  0% { transform: translateX(-100%); }
}


.button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
   width: 170px;
 height: 60px;
 font-size: 20px;
 background: #fff;
 border: solid 1px #000000;
 border-radius: 50px;
  color: #000;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
  margin-bottom: 5rem;
  font-family: $primary;
}

.button span {
  display: inline-block;
  transition: transform 0.3s;
}

.flexd{
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-right-items{
  img{
    height: 20em;
    width: auto;
    object-fit: cover;
  }
}



//text

.h1{
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(100px);
}

.p{
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(100px);
}

.sectionz{
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(100px);
}
.nav{
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(100px);
}

.skills{
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(100px);
}

.portfolio{
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(100px);
}

.works{
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(100px);
}


//Loader

