/*$primarycolor: #D5FD40;        
$secondarycolor: #020202;
$white: #FFFFFF;

$primary: 'Clash Display', sans-serif;
$secondary: 'Space Grotesk', sans-serif; */

$primarycolor: #020202;        
$secondarycolor: rgb(255, 255, 255);
$black: #000000;
$white: #ffffff;
$grey: #cacaca;
$yellow: #ffcc00;

$light-dark: #383838;

$primary: 'Archivo', sans-serif;
$secondary: 'Clash Display', sans-serif;